# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [24]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [25]:
# Calculate the total number of schools
num_schools = (school_data_complete["school_name"].nunique())

# Calculate the total number of students
num_students = (school_data_complete["Student ID"].nunique())

# Calculate the total budget
total_budget = school_data_complete["budget"].sum()

# Calculate the average math score 
avg_math_score = school_data_complete["math_score"].sum() / num_students

# Calculate the average reading score
avg_reading_score = school_data_complete["reading_score"].sum() / num_students

# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score) /2

# Calculate the percentage of students with a passing math score (70 or greater)
math_passing = school_data_complete[school_data_complete.math_score >= 70]["Student ID"].nunique() /num_students

# Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing = school_data_complete[school_data_complete.reading_score >= 70]["Student ID"].nunique() / num_students

# Create a dataframe to hold the above results
df_district_summary = pd.DataFrame({
    "Total Schools": [num_schools],
    "Total Students": [num_students],
    "Total Budget": [total_budget],
    "Average Math Schore":[avg_math_score],
    "Average Reading Score":[avg_reading_score],
    "% Passing Math":[math_passing],
    "% Passing Reading":[reading_passing],
    "Overall Passing Rate":[overall_passing_rate],
    
 })

df_district_summary

# Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Math Schore,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,0.749809,0.858055,80.431606

In [26]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [31]:
# School Type:
school_type = (school_data_complete["type"].groupby())

TypeError: You have to supply one of 'by' and 'level'

In [19]:



df_school_summary = pd.DataFrame({
   "School Name":[],
   "School Type":[],
   "Total Students":[],
   "Total School Budget":[],
   "Per Student Budget":[],
   "Average Math Score":[],
   "Average Reading Score":[],
   "Percentage Passing Math":[],
   "Percentage Passing Reading":[],
   "Overall Passing Rate":[],    
})

df_school_summary

SyntaxError: invalid syntax (<ipython-input-19-6f5cdfdc857b>, line 3)

In [17]:
def school_stats(df):

    num_students = (df["Student ID"].nunique())
    total_budget = df["budget"].sum()
    avg_math_score = df["math_score"].sum() / num_students
    avg_reading_score = df["reading_score"].sum() / num_students
    overall_passing_rate = (avg_math_score + avg_reading_score) /2
    math_passing = df[df.math_score >= 70]["Student ID"].nunique() /num_students
    reading_passing = df[df.reading_score >= 70]["Student ID"].nunique() / num_students
    return[num_students, total_budget, avg_math_score, avg_reading_score, overall_passing_rate, math_passing, reading_passing]

results = []

for school in school_data_complete["school_name"].unique():
    stats = school_stats(school_data_complete[school_data_complete.school_name==school])
    stats.append(school)
    results.append(stats)
    
pd.DataFram(results, columns = df_school_summary)

AttributeError: module 'pandas' has no attribute 'DataFram'

In [42]:
df_district_summary = pd.DataFrame({
    "Total Schools": [],
    "Total Students": [],
    "Total Budget": [],
    "Total School Budget":[],
    "Per Student Budget":[],
    "Average Math Schore":[],
    "Average Reading Score":[],
    "% Passing Math":[],
    "% Passing Reading":[],
    "Overall Passing Rate":[],
    
 })
df_district_summary.head()

Empty DataFrame
Columns: [Total Schools, Total Students, Total Budget, Total School Budget, Per Student Budget, Average Math Schore, Average Reading Score, % Passing Math, % Passing Reading, Overall Passing Rate]
Index: []

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.